---
import LayoutStacked from "../../app/LayoutStacked.astro";
import FormSignUp from "../../modules/FormSignUp.astro";
import SU from "../../modules/SignUp/SignUp.jsx";
---

<LayoutStacked>
  <div class="min-h-screen align-middle flex pb-[12vh]">
    <!-- <FormSignUp /> -->
    <SU client:load />
  </div>
</LayoutStacked>
